.text{
    width: max-content;
    background: linear-gradient(to right,red,green,blue);
    background-clip: text;
    color: transparent;
}
p{
    color: blueviolet;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}